{{- if .Values.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "opencost-cloudcost-exporter.fullname" . }}
  labels:
    {{- include "opencost-cloudcost-exporter.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "opencost-cloudcost-exporter.selectorLabels" . | nindent 6 }}
  endpoints:
    - port: metrics
      interval: {{ .Values.serviceMonitor.interval }}
      scrapeTimeout: {{ .Values.serviceMonitor.scrapeTimeout }}
{{- end }}
